<div id="page-wrapper" class="animated fadeIn">
        <div class="bg-black" id="page-header">
    <div id="mobile-navigation">
        <button data-target="#page-sidebar" data-toggle="collapse" class="collapsed" id="nav-toggle"><span></span></button>
        <a title="MonarchUI" class="logo-content-small" href="index.html"></a>
    </div>
   
    <div id="header-nav-left">
        <div class="user-account-btn dropdown">
            <a data-toggle="dropdown" class="user-profile clearfix" title="My Account" href="#">
                <img width="28" alt="Profile image" src="images/image-resources/gravatar.jpg">
                <span>Elliott James</span>
                <i class="glyph-icon icon-angle-down"></i>
            </a>
            <div class="dropdown-menu float-left">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a class="change-img" title="" href="#">Change photo</a>
                            <img alt="" src="images/image-resources/gravatar.jpg">
                        </div>
                        <div class="user-info">
                            <span>
                                Elliott James
                                <i>Full stack developer</i>
                            </span>
                            <a title="Edit profile" href="#">Edit profile</a>
                            <a title="View notifications" href="#">View notifications</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="reset-ul mrg5B">
                        <li>
                            <a href="#">
                                View account details
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a class="btn display-block font-normal btn-danger" href="#">
                            <i class="glyph-icon icon-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- #header-nav-left -->



</div>
        <div id="page-sidebar" class="bg-black" style="height: 634px;">
    <div class="scroll-sidebar" style="height: 634px;">
        

    <ul id="sidebar-menu" class="sf-js-enabled sf-arrows">
    <li class="header"><span>Overview</span></li>
    <li>
        <a title="Admin Dashboard" href="#index">
            <i class="glyph-icon icon-linecons-tv"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="divider"></li>
    <li class="header"><span>Profile</span></li>
    <li>
        <a title="Elements" href="javascript:void(0);" class="sf-with-ul">
            <i class="glyph-icon icon-linecons-diamond"></i>
            <span>Edit</span>
        </a>
  
    </li>
    <li class="header"><span>Mailbox</span></li>
    <li>
        <a title="Pages" href="javascript:void(0);" class="sf-with-ul">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>Messages</span>
            <span class="bs-label badge-danger">4</span>
        </a>
        <div class="sidebar-submenu" style="display: none;">

            <ul>
                <li><a title="Message Inbox " href="#index-alt"><span>Inbox</span></a></li>
                <li><a title="Message Outbox" href="#view-profile"><span>Outbox</span></a></li>
                <li><a title="Messages Delted" href="#faq-section"><span>Deleted</span></a></li>
                <li><a title="Flagged Messages" href="#auto-menu"><span>Flagged</span></a></li>
                
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>
    <li class="header"><span>Quizzes</span></li>
        <li>
        <a title="Pages" href="javascript:void(0);" class="sf-with-ul">
            <i class="glyph-icon icon-linecons-fire"></i>
            <span>Categories</span>
            <span class="bs-label badge-info">5</span>
        </a>
        <div class="sidebar-submenu" style="display: none;">

            <ul>
                <li><a title="Sports" href="#"><span>Sports (2)</span></a></li>
                <li><a title="Entertainment" href="#"><span>Entertainment(4)</span></a></li>
                <li><a title="Science" href="#faq-section"><span>Science(6)</span></a></li>
                <li><a title="Geography" href="#auto-menu"><span>Geography(8)</span></a></li>
                <li><a title="History" href="#invoice"><span>History(10)</span></a></li>
            </ul>

        </div><!-- .sidebar-submenu -->
    </li>
    </ul><!-- #sidebar-menu -->


    </div>
</div>
<div id="page-content-wrapper">
<div id="page-content" >
                


</div>

                

            </div>
        </div>
    </div>