<div class="center-content">
    <form class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin"> 
         <div id="login-forgot" class="content-box bg-default">
            <div class="content-box-wrapper pad20A">
                <div class="form-group">
                    <label for="exampleInputEmail2">Email address:</label>
                    <div class="input-group">
                        <span class="input-group-addon addon-inside bg-gray">
                             <i class="glyph-icon icon-envelope-o"></i>
                         </span>
                         <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                     </div>
                </div>
            </div>
            <div class="button-pane text-center">
                <button type="submit" class="btn btn-md btn-primary">Recover Password</button>
                <a ui-sref="login" class="btn btn-md btn-link switch-button" switch-target="#login-form" switch-parent="#login-forgot" title="Cancel">Cancel</a>
             </div>
        </div>
    </form>
</div>