  <div class="center-content">
      <form data-ng-submit="loginSubmit(user)" name="loginForm" id="login-validation" class="col-md-4 col-sm-5 col-xs-11 col-lg-3 center-margin">
            <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">Office Pool <span class="opacity-80">v1.0</span></h3>
            <div id="login-form" class="content-box bg-default">
                <div class="content-box-wrapper pad20A">
                    <a class="btn btn-md bg-facebook tooltip-button mrg25B center-margin radius-all-100 display-block" title="" data-placement="bottom" href="#" data-original-title="Login with Facebook">
                    <i class="glyph-icon icon-facebook"></i>
                    </a>
                    <!--<img class="mrg25B center-margin radius-all-100 display-block" src="/images/image-resources/gravatar.jpg" alt="">-->
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-envelope-o"></i>
                            </span>
                            <input type="email" name="username" class="form-control" id="exampleInputEmail1" placeholder="Enter email" data-ng-model="user.username">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon addon-inside bg-gray">
                                <i class="glyph-icon icon-unlock-alt"></i>
                            </span>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" data-ng-model="user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary">Login</button>
                    </div>
                     <div class="form-group">
                         <a  ui-sref="register" class="btn btn-md btn-info btn-block" switch-target="#login-forgot" switch-parent="#login-form" title="Register For A New Account">Sign Up</a>
                    </div>
                    <div class="row">
                        <div class="checkbox-primary col-md-6" style="height: 20px;">
                            <label>
                                <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                                Remember me
                            </label>
                        </div>
                        <divf class="text-right col-md-6">
                            <a  ui-sref="forgot" class="switch-button" switch-target="#login-forgot" switch-parent="#login-form" title="Recover password">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>